* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    background-color: rgb(238, 238, 238);
}

.page {
    display: flex;
    flex-wrap: wrap;

    max-width: 50em;
    margin: 0 auto;
    gap: 2em;
}

.site-header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    border-bottom: 2px solid black;
}

.site-title {
    font-family: 'Georgia', serif;
    font-size: 5em;
    line-height: 1;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    padding: 0.1em;
}

.site-header nav  ul {
    display: flex;
}

.site-header nav li {
    list-style: none;
    padding: 0.5em;
}

.site-header nav a {
    display: block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.site-main {
    flex: 0 0 75%;
}

.site-aside {
    flex: 1 0 auto;
    padding: 1.5em;
}

p, ul {
    padding-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.6em;
}

img[class*="align"] {
    border: 2px solid black;
    background-color: white;
    padding: 0.5em;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
}

blockquote[class*="align"] {
    opacity: 0.75;
    font-style: italic;
    max-width: 50%;
    padding-left: 1em;
    border-left: 2px solid lightgray;
}

blockquote .quote-author {
    text-align: right;
}

.align-left {
    float: left;
    margin: 0 1em 1em 0;
}

.align-right {
    float: right;
    margin: 0 0 1em 1em;
}

blockquote {
    font-family: 'Georgia', serif;
}

aside a {
    color: rgb(0, 153, 0);
}

aside li {
    list-style: square;
}