@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.2 "Inter", sans-serif;
}

body {
    background-color: #85dcff;
}

.container {
    max-width: 1100px;
    display: flex;
    gap: 3em;
    margin: 5.14em 2.43em 4.3em 2.43em;
}

.container-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-info h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

.container-info .buttons {
    display: flex;
    gap: 1em;
    padding-top: 2.3em;

}

.container-info .buttons .button-left {
    background-color: #42aa59;
    padding: 1em 2.5em;
    border: 2px solid black;
    border-radius: 5px;
}

.container-info .buttons .button-left:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.container-info .buttons .button-right {
    background-color: #FFFFFF;
    padding: 1em 2.5em;
    border: 2px solid white;
    border-radius: 5px;
}

.container-image {
    width: 100%;
}

.container-image img {
    width: 100%;
    height: auto;
    margin: 0 3em;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);;
}
