body {
    background-color: #e4e978;
    padding: 5px;
    width: 700px;

}

article {
    padding: 5px;
    background-color: #f2f4c0;
    width: 700px;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;

    strong {
        color: #5c6e91;
    }
}

section {
    color: #5c6e91;
    font-style: italic;

    .wrapper {
        width: 710px;
        background-color: #f2f4c0;
        border: 1px solid #b2ad7d;
        margin: 15px 10px;

        h1 {
            margin-left: 15px;
            padding: initial;
        }

        article {
            background-color: initial;
            border: none;
            /*margin: 15px 10px;*/
        }
    }

    article {
        background-color: #f2f4c0;
        border: 1px solid #b2ad7d;
        margin: 15px 10px;
    }
}