@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@100&display=swap");

* {
    font-family: 'Agbalumo', serif;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    padding: 40px;
}

main {
    border: 3px solid black;

    width: 900px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightcyan;
}

header h1 {
    width: 90%;
    padding-top: 1em;
    border-bottom: 3px solid black;

    text-align: center;
    font-size: 3em;
}

header p {
    width: 90%;
    border-bottom: 3px solid black;

    text-align: center;
    font-size: 1.5em;
}

.article-description {
    display: flex;
    flex-wrap: wrap;

    margin: 2em;
}

.article-description .photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-basis: calc(30% - 2em);

    box-sizing: border-box;
    border: 3px solid black;
}

.article-description .photo img {
    width: 360px;
    padding: 1em;
}

.article-description .photo p {
    padding: 1em;

    text-indent: 2em;
    font-size: 0.75em;
}

.article-description .description {
    box-sizing: border-box;

    margin: 1em;

    flex-basis: calc(60% - 4em);
}

.article-description .description p {
    padding: 1em;
    text-indent: 2em;
}

.facts {
    display: flex;
    flex-direction: column;
}

.facts h2 {
    color: white;
    background-color: black;
    width: 50%;

    text-align: center;
}

.facts div {
    background-color: lightcyan;
    padding: 1em 0 0.2em 1.5em;
}
.facts div p {
    padding: 0.5em;
}