@media (max-width: 600px) {
    body {
        width: 100%;
        font-size: 12px;
    }

    header {
        display: flex;
        flex-direction: column;

        background: linear-gradient(rgba(165, 163, 163, 0.3), rgba(165, 163, 163, 0.3)),
            url(https://wallpaperaccess.com/full/329583.jpg) no-repeat center center;
        background-size: cover;
        max-width: 600px;
        height: auto;
    }

    header nav {
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav li {
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
    }

    .header-title {
        padding: 1em;
    }

    .header-title h1 {
        font-size: 2.5em;
    }

    .header-title p {
        font-size: 1.3em;
    }

    .team-description {
        display: flex;
        flex-direction: column;

    }

    .team-description h3 {
        font-size: 2.5em;
    }

    .team-description p {
        font-size: 1.4em;
    }

    .team-description-wrapper {
        margin: 3em;
        padding-bottom: 0;
    }

    .team-description-wrapper ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-between;
    align-items: flex-start;
    }

    .team-description-wrapper ul li {
        display: flex;
        flex-direction: column;
        width: calc(50% - 3em);
        margin: 0.5em;

        align-content: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .team-description-wrapper ul li img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .team-description-wrapper ul li p:first-of-type {
        font-size: 1em;
        font-style: italic;
    }

    .team-description-wrapper ul li p:last-child {
        font-size: 1.2em;
    }

    .about-us {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-bottom: 0;
    }

    .about-us p:first-of-type {
        font-size: 1.5em;
    }

    .about-us p:last-child {
        width: 100%;
        font-size: 1.28em;
        text-align: center;
        padding: 0 3.1em;
    }

    .choose-us ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .choose-us ul li h4 {
        font-size: 1.8em;
    }

    .choose-us ul li p {
        font-size: 1.2em;
        margin: 1em 6em;
    }

    .blog-news {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .blog-news .blog-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2em;
    }

    .blog-news .blog-list .item {
        width: 55%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

}