@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 22px/1.5 'Inter', sans-serif;
}


body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    max-width: 1920px;
    max-height: 975px;
}

article {
    display: flex;
    box-sizing: border-box;
    margin: 3em 5em;
    gap: 2em;
}

.container-left {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    gap: 1.81em;
}

.section-top {
    padding: 2em;
    background-color: #FFFFFF;

    display: flex;
}

.section-top .section-quote,
.section-bottom .section-quote {
    flex: 1 1 80%;
    padding: 0 2em;
}

.section-top .quote-author-image,
.section-bottom .quote-author-image {
    flex: 1 1 calc(25% - 2.72em);
}

.section-bottom {
    padding: 2em;
    background-color: #FFFFFF;

    display: flex;
}

.section-quote .icon {
    font-size: 3em;
    color: #000000;
}

.section-quote .quote-author {
    font-weight: bold;
    font-size: 1.36em;
    padding-top: 1.27em;
}

.section-top .quote-author-image,
.section-bottom .quote-author-image {
    width: 10.9em;
    height: 10.9em;
    border-radius: 50%;
    overflow: hidden;
}

.section-top .quote-author-image img,
.section-bottom .quote-author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container-right {
    flex: 0 0 calc(30% - 1.81em);
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1.5em;
    /*padding: 4.1em 2em 1.81em 1.81em;*/

    font: 23px/1.1 'Inter', sans-serif;

}

.container-right .icon {
    font-size:3.5em;
    color: #000000;
}

.container-right .section-quote {
    padding: 3.5em 0;

    border-bottom: 1px solid #e3e3e3;
}

.author-info {
    display: flex;
    /*gap: 1em;*/
    box-sizing: border-box;
}

.author-info .author-info-left {
    justify-content: center;
    align-items: center;
    padding: 1em 1em 0 0;
}

.author-info-left .quote-author-image {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    overflow: hidden;
}

.quote-author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.author-info img {
    filter: grayscale(100%);
}

.author-info .author-info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.author-info-right .quote-author {
    font-weight: bold;
    font-size: 1.36em;
    color: #000000;
}

.author-info-right .quote-author-title {
    font-weight: bold;
    font-size: 0.68em;
    color: #767776;
}
