html {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.5;
    margin: 50px;
}

.headings {
    font-family: 'Georgia', serif;
}

.ul-disc {
    list-style-type: disc;
}

.ul-circle {
    list-style-type: circle;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: justify;
}

tr, th {
    border: 1px solid #CCCCCC;
    padding: 5px;
    font-weight: normal;
}

.table-title {
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

tr:first-child {
    background-color: gray;
}

blockquote {
    border-left: 2px solid rgb(221, 221, 221);
    font-style: italic;
    padding-left: 25px;
    font-weight: 600;
}

blockquote p:last-of-type {
    text-align: right;
}